.friend-drawer {
    width: 381px;
    padding: 10px 15px;
    display:inline-flex;
    vertical-align: baseline;
    background: rgb(236, 230, 230);
    transition: .3s ease;
    border-radius: 7px;
}

 .text-muted {
     width: 275px;
 }
.time {
    color: grey;
  }

.friend-drawer:hover{
    background: rgb(0, 204, 255);
    cursor: pointer;
}





  